@model List<StudentManagement.Service.Dto.ClassDetailForTeacherDto>
@{
    ViewData["Title"] = "ClassDetailForTeacher";
    Layout = "~/Areas/Staff/Views/Shared/_Layout.cshtml";
}

<div class="app-container">
    <div class="inner-tab-panel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs topnav" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#">ClassDetails For Teacher</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content page-container">
            <div id="home" class="tab-pane active">
                <div class="card">
                    <div class="modal-header">
                        <h6 class="modal-title">
                            Roll list
                        </h6>
                    </div>
                    <div class="card-body modal-body">
                        <!-- form start here -->
                        <div class="default-form">

                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <table class="default-table " id="classDetailForStudent">
                                        <thead>
                                            <tr>
                                                <th width="30%" class="td-roll">Class</th>
                                                <th width="30%" class="td-name">Subject</th>
                                                <th width="30%" class="td-name">Roll List</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ClassName</td>
                                                <td>@item.SubjectName</td>
                                                <td><a href="javascript:;"  class="RollList" data-id="@item.RollNoList">Roll List</a></td>
                                            </tr>
                                        }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- form end here -->
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div id="RollList" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align-last: center">Roll List</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
<script type="text/javascript">
    $(document).on("click", ".RollList", function () {
        
        var stud = $(this).attr("data-id");
        if (stud != "") {
            swal("Student Roll List", "RollNumber :"+ stud)
            
        } else {
            swal("No student Found!"," :(")
        }
    });
</script>
}

