
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
<div class="app-container">
   <h5>Day wise Attendence </h5>
    <div class="col-12">
        <table>
            <thead>
                <tr>
                    <th>Day</th>
                    <th>lecture1</th>
                    <th>lecture1</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1st jan</td>
                    <td>subject1</td>
                    <td>present</td>
                </tr>
                <tr>
                    <td>1st jan</td>
                    <td>subject2</td>
                    <td>absent</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

